{% extends 'index.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    {% block content %}
    <h1 style="margin-top: 90px;">Bienvenido {{ user.firstnameUser }} {{ user.lastnameUser }}</h1>

    <div class="container-fluid">
        <form>
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label text-dark">Nombre</label>
                <input type="text" class="form-control" id="exampleInputEmail1" value="{{user.firstnameUser}}">
            </div>
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label text-dark">Apellido</label>
                <input type="text" class="form-control" id="exampleInputEmail1" value="{{user.lastnameUser}}">
            </div>
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label text-dark">Email</label>
                <input type="text" class="form-control" id="exampleInputEmail1" value="{{user.emailUser}}">
            </div>
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label text-dark">Edad</label>
                <input type="text" class="form-control" id="exampleInputEmail1" value="{{user.ageUser}}">
            </div>
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label text-dark">Telefono</label>
                <input type="text" class="form-control" id="exampleInputEmail1" value="{{user.phoneUser}}">
            </div>
            <button type="submit" class="btn btn-primary">guardar</button>
        </form>

        <form method="post" action="">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary">Guardar cambios</button>
        </form>



        {% endblock %}

</body>

</html>