{% extends 'index.html' %}
{% load static %}
{% block content %}

<!-- Contact Start -->
<div class="row justify-content-center bg-appointment mx-0">
    <div class="col-lg-6 py-5">
        <div class="p-5 my-5" style="background: rgba(33, 30, 28, 0.7);">
            <h1 class="text-white text-center mb-4">Registrarse</h1>
            <form action="/signup/" method="POST">
                {% csrf_token %}
                <div class="form-row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <input type="text" class="form-control bg-transparent p-4" name="txt-useridentification"  placeholder="identificación"
                                required="required" />
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <input type="text" class="form-control bg-transparent p-4" name="txt-userfirstname"  placeholder="nombre"
                                required="required" />
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <input type="text" class="form-control bg-transparent p-4" name="txt-userlastname"  placeholder="apellido"
                                required="required" />
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <input type="number" class="form-control bg-transparent p-4" name="txt-userage"  placeholder="edad"
                                required="required" />
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <input type="number" class="form-control bg-transparent p-4" name="txt-userphone"  placeholder="numero telefono"
                                required="required" />
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    
                </div>
                <div class="form-row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <input type="email" class="form-control bg-transparent p-4" placeholder="correo"  name="txt-useremail" required="required" />
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <div class="date" >
                                <input type="password" class="form-control bg-transparent p-4" name="txt-passwlogin"
                                    placeholder="contraseña"/>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="form-group">
                            <div class="date" >
                                <input type="password" class="form-control bg-transparent p-4" name="txt-confirmpasswlogin"
                                    placeholder="confirmar contraseña"/>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-sm-12">
                        <button class="btn btn-primary btn-block" type="submit" style="height: 47px;">registrar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- Contact End -->
{% endblock %}