{% extends 'index.html' %}
{% load static %}
{% block content %}

<!-- Contact Start -->
<div class="row justify-content-center bg-appointment mx-0">
    <div class="col-lg-6 py-5">
        <div class="p-5 my-5" style="background: rgba(33, 30, 28, 0.7);">
            <h1 class="text-white text-center mb-4">iniciar sesión</h1>
            <form action="/signin/" method="POST">
                {% csrf_token %}
                <!-- <div class="form-row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <input type="text" class="form-control bg-transparent p-4" name="txt-userlogin"  placeholder="usuario"
                                required="required" />
                        </div>
                    </div>
                </div> -->
                <div class="form-row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <input type="email" class="form-control bg-transparent p-4" placeholder="correo"  name="txt-useremail" required="required" />
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <div class="date" >
                                <input type="password" class="form-control bg-transparent p-4" name="txt-passwlogin"
                                    placeholder="contraseña"/>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-sm-12 mt-2">
                        <p class="text-end">Nuevo usuario <a href="/signup">registrarse</a></p>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-sm-12">
                        <button class="btn btn-primary btn-block" type="submit" style="height: 47px;">ingresar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- Contact End -->
{% endblock %}